/* Página principal */
.left {
    float: left;
}
.right {
    float: right;
}
article {
    padding-bottom: 3em;
}
.art2, .art3 {
    padding-top: 100px;
}
.principal div h1 {
    padding-bottom: 40px;
}
#art3_1 img, #art3_2 img {
    float: left;
}
#art3_1 .text, #art3_2 .img {
    float: right;
}
#art3_1 {
    padding-bottom: 268px;
}
/* Colores de iconos top-nav-link */
.maroon {
    color: maroon;
}
.blue {
    color: #3b5998;
}
.yellow {
    color: rgb(221, 221, 21);
}
.green {
    color: rgb(9, 73, 9);
}
ul {
    list-style: none !important;
    margin-top: 2.5em;
}

a {
    color:#1a5dab;
    text-decoration: none;
    font-weight: bold;
    margin: 0.7em;
}
a:hover {
	color: maroon;
	text-decoration: underline;
}
#nomargin {
    margin:0;
}
/* top-nav-input botones*/
.top-nav-input {
    display: block;
    cursor: pointer;
    text-decoration: none;
    color: #03872B;
    font-weight: bold;
    font-size: 2.5rem;
    margin: 0;
    padding: 0;
    position: relative;
    float: left;
    margin-right: 30px;
}
li.top-nav-input:hover {
    background-color: #03872B;
    color: white;
}
.top-nav-input a:hover {
    color:white;
}
/* Titulo header */
.titulo {
    display: block;
    padding-top: 20px;
    font-weight: bold;
}
.subtitulo {
    color: black;
    font-size: 3.2rem;
    font-weight: bold;
}
div .logosegura {
    width: 10%;
    display: inline-block;
}
.logosegura img {
    width: 75px;
}

div .tituloplataforma {
    width: 89%;
    display: inline-block;
    padding-top: 0px;
    padding-left: 20px;
    transform: translateY(25px);
}
span.titulo {
    font-weight: 2.5rem;
}

.top-nav-input svg {
    position: absolute;
    top: 13px;
    left: 6px;
}

.top-nav-input a {
    text-decoration: none;
    font-family: Arial;
    color: black;
    font-size: 2.3rem;
    width: 100%;
    height: 100%;
    display: block;
    margin: 0;
    padding: 5px 10px 5px 40px;
}
div#top-options {
    padding-bottom: 20px;
}
div#top-options:hover {
    text-decoration: none;
}
.top-nav-input:hover {
	background-color: #408c99;
	color: #034656;
}

.top-nav-input:active {
	position: relative;
	top: 1px;
}

/* Paginator */

ul#paginator {
    list-style: none;
}

ul#paginator li {
    float: left;
    margin-right: 2rem;
}

/* Forms */

fieldset {
    border: 1px solid #ccc;
    padding: 3rem !important;
}

legend {
    width: initial;
    padding: 0rem 1rem;
    margin: 0rem !important;
}

input[type="submit"], button[type="submit"] {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}

a.back-button {
    margin-left: 1em;
    background: #1a5dab;
    border-color: #1a5dab;
}

.error {
    background: #fcebea;
    border: 1px solid #ef5753;
    padding: 0.5em;
    margin-bottom: 2em;
}

.error-message {
    color: #cc1f1a;
}

/* Footer */

footer {
    text-align: center;
    color: black;
    padding-top: 5em;
    padding-bottom: 15px;
    font-size: 20px;
}
.cabecera {
    background: #03872B;
}
.fa-file-pdf {
    color: red;
}
.fa-plus-square {
    color: black;
}
.fa-search {
    color: #03872B;
}

thead tr th  {
    color: white;
}

thead tr th a {
    color: #fff;
}

@media (min-width: 1200px) {
    .container {
        max-width: 90%;
    }
}


@media only screen 
and (max-width : 500px) {
    .principal {
        padding-top: 50px;
    }
    .principal div h1 {
        margin-top: 130px;
        padding-bottom: 0;
    }
    .top-nav-input { 
        width: 100%;
        text-align: center;
    }
    legend {
        width: initial;
        padding: 0rem 1rem;
        margin: 0rem !important;
    }
    h3 {
        margin-top: 20rem;
    }
    .top-nav-title {
        position:relative;
        top: 150px;
    }
    span.titulo {
        font-size: 1.2rem;
        display: inline-block;
        padding-top: 7rem;
        font-weight: bold;
    }
    #escudosegura {
        left: 40%;
        position: absolute;
    }
    .logosegura img {
        height: 100px;
    }
    #img-pilar, #img1-art3, #img2-art3 {
        height: 30%;
        width: 100%;
        padding-bottom: 50px;
    }
    span.subtitulo {
        color: black;
        display: inline-block;
        font-size: 0.8rem;
    }
    .top-nav-links {
       font-size: 1.8rem;
       position: absolute;
       top: 1px;
       left: 8px;
    }
    .art2 {
        padding-top: 0px;
    }
    #videosegura{
        height: 250px;
        display: block;
    }
    .videocontainer {
        max-width: 100%;
    }
    .art2, .art3 {
        padding-top: 0;
    }
    article{
        padding-bottom: 0;
    }
   img#img-segura { 
        max-width: 100%;
        margin-bottom: 0px;
        padding-right: 0px;
        max-height: 250px;
    }
   span{ 
       font-size: 2.2rem;
   }
   div #main {
    margin-top: 110px;
    padding: 30px;
   }
   h1 {
    margin-top: 16rem;
    font-size: 3rem;
    line-height: 1.2;
    position: relative;
   }
   h2{ 
       margin-top: 6.5em;
       font-size: 2.6rem;
   }
    .body{
        font-size: 1.0em;
    }
}
